[Unit]
Description=Try auto fix system problems
Documentation=http://github.com/x-deepin/fixme
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/bin/fixme check
ExecStart=/bin/fixme fix

[Install]
WantedBy=rescue.target
