[Unit]
Description=Update /var/lib/fixme
Documentation=http://github.com/x-deepin/fixme
After=network-online.target

[Service]
Type=idle
ExecStart=/bin/fixme update
RestartSec=1min
Restart=on-failure


[Install]
WantedBy=multi-user.target
